<div mat-dialog-content>
  <h3 class="text-center text-primary">Update Your Row</h3>
  <mat-form-field>
    <input matInput [(ngModel)]="data.Rank" placeholder="Rank No">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.percentage" placeholder="percentage">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.branch" placeholder="branch">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button class="ml-5 text-right text-success" mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Update</button>
</div>
